name: Build and Push the v0.5.x-dev Docker Image

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      image-tag:
        description: "The tag to use for the Docker image, default is 'dev'"
        required: true
        type: string
        default: "dev"

jobs:
  call-jupyter-driver-build:
    uses: RTIInternational/teehr-hub/.github/workflows/build-and-push-jupyter-driver.yaml@2-update-github-action-and-helm-chart
    with:
      image-tag: ${{ inputs.image-tag }}