name: build-push-teehr-hub-dev

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      image-tag:
        description: "The tag to use for the Docker image, default is 'dev'"
        required: true
        type: string
        default: "dev"

jobs:
  call-jupyter-driver-build:
    uses: RTIInternational/teehr-hub/.github/workflows/build-and-push-jupyter-driver.yaml@main
    with:
      image-tag: ${{ inputs.image-tag || 'dev' }}

  call-spark-executor-build:
    uses: RTIInternational/teehr-hub/.github/workflows/build-and-push-spark-executor.yaml@main
    with:
      image-tag: ${{ inputs.image-tag || 'dev' }}