name: build-push-teehr-hub-dev

on:
  push:
    branches: [main]  # main, 475-update-python-dependencies

jobs:
  call-docker-build:
    uses: RTIInternational/teehr-hub/.github/workflows/build-and-push-image.yaml@main
    secrets: inherit
    with:
      image-tag: "dev"
      previous-image-tag: "dev"  # does nothing in this case